<a href="https://colab.research.google.com/github/sebastianiu/Prognosemodell_Online_Kreditzahlungsverkehr/blob/main/Entwicklung_Baseline_Modell.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Entwicklung Baseline-Modell
## 1) Daten laden

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
from IPython.display import display_html
import datetime as dt
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

data = pd.read_excel('/content/PSP_Jan_Feb_2019.xlsx')

FileNotFoundError: ignored

## 2) Datenaufbereitung
### Daten-Separation als X Merkmale and Zielvariable Y

In [ ]:
Y = data['PSP']
X = data.drop('PSP',axis=1)
X = X.drop('tmsp',axis=1)
X = X.drop('Unnamed: 0',axis=1)

### Datenkodierung von Textinformationen

### Aufteilung in Trainings- und Validierungsdatensatz

In [ ]:
X_train, X_test,Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, random_state=100)

X_train

,Unnamed: 0,country,amount,success,PSP,3D_secured,card
43997,43997,Germany,281,1,UK_Card,0,Visa
7737,7737,Austria,177,0,UK_Card,1,Visa
15573,15573,Germany,154,0,UK_Card,0,Diners
9404,9404,Germany,204,0,Goldcard,0,Master
25688,25688,Austria,104,1,Simplecard,1,Master
...,...,...,...,...,...,...,...
16304,16304,Germany,19,0,Moneycard,0,Diners
79,79,Austria,239,0,Simplecard,0,Master
12119,12119,Germany,88,0,Simplecard,0,Diners
14147,14147,Austria,253,0,Simplecard,1,Master
38408,38408,Switzerland,196,1,UK_Card,0,Diners

In [ ]:
X_test

,Unnamed: 0,tmsp,country,amount,PSP,3D_secured,card
43739,43739,2019-02-20 11:41:18,Germany,236,Simplecard,1,Visa
14456,14456,2019-01-16 13:54:31,Switzerland,357,UK_Card,0,Master
24700,24700,2019-01-30 00:29:47,Germany,271,UK_Card,0,Master
26066,26066,2019-01-31 16:52:27,Switzerland,298,Simplecard,0,Master
44808,44808,2019-02-21 17:30:39,Germany,135,UK_Card,0,Visa
...,...,...,...,...,...,...,...
42403,42403,2019-02-18 20:30:39,Germany,132,Simplecard,0,Master
24550,24550,2019-01-29 20:16:19,Germany,45,UK_Card,1,Visa
28186,28186,2019-02-02 18:00:13,Switzerland,158,UK_Card,0,Master
21960,21960,2019-01-26 08:05:13,Germany,260,UK_Card,0,Master
20877,20877,2019-01-24 19:43:48,Germany,155,UK_Card,0,Master

## 3 ) Modell-Aufbau
### Logistische Regression mit RandomForest